<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Levan Andronikashvili's interactive portfolio.">
    <meta name="author" content="Levan Andronikashvili - in/l-andronikashvili/ ">
    <link rel="icon" href="icons/favicon.ico">
    <link href="static/main.css" rel="stylesheet">
    <title>Lyric Scraper</title>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Levan Andronikashvili</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/recommender">Movie Recommender</a></li>
                  <li class="active"><a href="/scraper">Lyric Scraper</a></li>
                  <li><a href="/titanic">Titanic</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Lyric Scraper</h1>
          </div>
            <body>
                <p>Let me build you a word cloud of the lyrics from your favorite artist!</p>
                    <form action='/scraper/wordcloud'>
                        <input class="form-control" name='1' autocomplete='on' placeholder='Grace Jones'><br>
                        <input class="input-submit" type='submit' value='Submit Input'>
                    </form>
            </body>
          <div class="mastfoot">
            <div class="inner">
              <p>
                  <a href="https://spiced-academy.com/">
                      &copy; 2019 SIGMOID_SAFFRON</a>
                           by <a href="https://linkedin.com/in/l-andronikashvili">
                               Levan Andronikashvili</a>.</p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>